.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fff;
  }
  
  .about-text {
    max-width: 500px;
  }
  
  .about-us h2 {
    font-size: 30px;
    color: #2D3047;
  }
  
  .about-us p {
    font-size: 16px;
    color: #2D3047;
  }
  
  .about-image {
    max-width: 40%;
  }
  .about-us img{
    /* position: absolute;
    left:11%; */

  }
 .about-us{
  background-color: aliceblue;
 }
 .btn2{
  border-radius: 40px;
    color:#fff;
    background-color:#E23744;
    font-weight:600;
    border: 2px solid #fff;
    padding: 10px 17px;
 }
 